// Pricing
section.pricing
  .pricing__container
    h3.pricing__title Check our pricing!
    .pricing__box
      .pricing__item
        include pricing-item/_pricing-item
      .pricing__item
        include pricing-item/_pricing-item
      .pricing__item
        include pricing-item/_pricing-item
    .pricing__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor indicidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
    .pricing__navigation
      a.pricing__link(href="#") Join now!