// Pricing Item
.pricing-item
  .pricing-item__title BRONZE PLAN
  .pricing-item__amount
    span.pricing-item__currency $
    | 19
    span.pricing-item__per /mon
  .pricing-item__list
    .pricing-item__option.-option-yes <i class="material-icons">check</i> Lorem ipsum dolor sit am
    .pricing-item__option.-option-yes <i class="material-icons">check</i> Lorem ipsum dolor sit am
    .pricing-item__option.-option-no <i class="material-icons">close</i> Lorem ipsum dolor sit am
    .pricing-item__option <i class="material-icons">close</i> Lorem ipsum dikir sit am