.dashboard
  +component
  background: #ffffff
  background: linear-gradient(to bottom, #ffffff 65%, #fcfcfd 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fcfcfd', GradientType=0)

  &__container
    +container

  &__title
    +component-title

  &__content
    display: block
    width: 100%
    text-align: center

  &__image
    display: block
    max-width: 100%
    height: auto
    margin: 0 auto