// Dashboard
section.dashboard
  .dashboard__container
    h3.dashboard__title Dashboard preview
    .dashboard__content
      img.dashboard__image(src="source/components/dashboard/src/dashboard.png" alt="Dashboard Preview")