// Interactive
section.interactive
  .interactive__container
    h3.interactive__title Powerfull PSD Template
    .interactive__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor indicidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
    .interactive__content