// Features
section.features
  .features__container
    .features__box
      .features__item
        .features__icon
          img.features__image(src='source/components/features/src/features-three.png' alt='Feature One')
        h4.features__subtitle Manage Your Workflow
        .features__text Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client group
        .features__navigation
          a.features__button(href='#') See more
      .features__item
        .features__icon
          img.features__image(src='source/components/features/src/features-two.png' alt='Feature Two')
        h4.features__subtitle Analytics & Insights
        .features__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do elusmod tempor incididunt ut labore et dolore magna aliqua.
        .features__navigation
          a.features__button(href='#') See more
      .features__item
        .features__icon
          img.features__image(src='source/components/features/src/features-one.png' alt='Feature Three')
        h4.features__subtitle Organize Your Deadlines
        .features__text Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client group
        .features__navigation
          a.features__button(href='#') See more
