.features
  +component
  background-color: colors($features-color, background)

  &__container
    +container

  &__box
    display: flex
    flex-wrap: wrap
    margin: 0 -15px

  &__item
    position: relative
    width: 33.33%
    padding: 0 25px 65px
    +MAX(969px)
      width: 50%
      margin-bottom: 15px
    +MAX(767px)
      margin-bottom: 25px
      width: 100%
      text-align: center

  &__icon
    color: colors($features-color)
    margin-bottom: 5px
    cursor: default
    text-align: center
    display: flex
    align-items: center
    height: 85px
    i
      font-size: 64px

    img
      display: block
      max-width: 100%
      margin: 0 auto
      max-height: 85px


  &__subtitle
    font-size: 24px
    font-weight: 600
    color: colors($features-color, subtitle)
    margin-bottom: 15px
    text-align: center
    cursor: default

  &__text
    font-size: 14px
    font-weight: 400
    color: colors($features-color)
    margin-bottom: 5px
    text-align: justify
    cursor: default

  &__navigation
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 0

    position: absolute
    bottom: 0
    left: 0
    right: 0

  &__button
    +button-alt