@charset "UTF-8"

@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1)
  @if $b-hsb == 0
    @return hsla(0, 0, 0, $a)
  @else
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100))
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2)
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a)

@function colors($color, $tone: "base")
  @return map-get($color, $tone)

// e.g. $button: (base: white, hover: black, shadow: yellow, shadowHover: darken(yellow, 5))
// usage: color: colors($button, hover)


// Color Variables
$Transparent: transparent
$White: rgb(255, 255, 255)
$White_05: rgba(255, 255, 255, 0.5)
$ShipCove: #8492AF
$MidnightExpress: #0E1A35
$CornflowerBlue: #5584FF
$HawkesBlue: #DADEE7
$Nobel: #969696
$GhostWhite: #FCFCFD
$GhostWhite_alt: #F6F7FA

// Color Palettes

//Base Text  + Title
$text-color: (base: $ShipCove, title: $MidnightExpress)

//Buttons
$button-main: (base: $White, background: $CornflowerBlue, border: $CornflowerBlue, hover: $White, background-hover: $Transparent, border-hover: $White)
$button-alt: (base: $MidnightExpress, background: $Transparent, border: $HawkesBlue, hover: $White,  background-hover: $CornflowerBlue, border-hover: $CornflowerBlue)

// Page Loader
$loader-background: (base: $MidnightExpress)

// Header
$header-colors: (base: $White, landingPage: $Transparent, landingPage-background: $MidnightExpress)

// Menu
$menu-color: (base: $White, hover: $CornflowerBlue, alternative: $White, submenu-link: $MidnightExpress, submenu-background: $White,  border-base: $White_05, border-hover: $White, border-alternative: $CornflowerBlue, background-base: $Transparent, background-hover: $White, background-alternative: $CornflowerBlue)

// Navigation-Toggle
$navigation-toggle-color: (base: $White, hover: $White)

// Banner
$banner-color: (base: $White, shadow: $Nobel)

// Features
$features-color: (base: $ShipCove, subtitle: $MidnightExpress, background: $GhostWhite)

// Services
$services-color: (base: $ShipCove, title: $MidnightExpress, list: $CornflowerBlue, number-border: $CornflowerBlue, background: $GhostWhite_alt)

// Pricing
$pricing-color: (base: $ShipCove, title: $MidnightExpress, icon: $Nobel, icon-yes: $CornflowerBlue, icon-no: #F83C7B)

// Footer Colors
$footer-color: (base: $ShipCove, background: $MidnightExpress)

