extends layout/_layout

block content
  include  components/banner/_banner

  // Content Blocks
  section.content__blocks#contentPage

    include components/dashboard/_dashboard

    include components/features/_features

    include components/services/_services

    include components/cards/_cards

    include components/interactive/_interactive

    include components/pricing/_pricing


