// Services
section.services
  .services__bg(style="background-image:url('source/components/services/src/services.png')")
  .services__container
    .services__content
      h3.services__title All You need is a browser!
      .services__text
        p Lorem ipsum dolor sit amet, consectetur acipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commaodo consequat.
      .services__box
        .services__item
          .services__number <i class="material-icons">done</i>
          | Lorem ipsum dolor sit amet consectetur
        .services__item
          .services__number <i class="material-icons">done</i>
          | Mauris consequat libero metus, nec ultricies sem efficitur quis. Integer bibendum eget metus ac accumsan.
        .services__item
          .services__number <i class="material-icons">done</i>
          | Integer sit amet lacus egestas, semper est quis, viverra ex. Mauris consequat libero metus, nec ultricies sem efficitur quis.
        .services__item
          .services__number <i class="material-icons">done</i>
          | Pellentesque eget nunc sit amet urna ullamcorper fermentum et eu leo. Nunc vel nibh tempor, pharetra lectus congue, luctus orci.
        .services__item
          .services__number <i class="material-icons">done</i>
          | Mauris consequat libero metus, nec ultricies sem efficitur quis. Integer bibendum eget metus ac accumsan.