.interactive-item(data-x="80" data-y="30" data-tooltip="1").-point
  .interactive-item__buttonholder
    .interactive-item__button(title="Otwórz")
  .interactive-item__tooltip(data-tooltip="1").js-interactive-tooltip
    .interactive-item__tooltipBox
      .interactive-item__tooltipContent
        | Lorem ipsum


.interactive-item(data-x="50" data-y="30" data-tooltip="2").-point
  .interactive-item__buttonholder
    .interactive-item__button(title="Otwórz")
  .interactive-item__tooltip(data-tooltip="2").js-interactive-tooltip
    .interactive-item__tooltipBox
      .interactive-item__tooltipContent
        | Lorem ipsum 2


.interactive-item(data-x="20" data-y="55" data-tooltip="3").-point
  .interactive-item__buttonholder
    .interactive-item__button(title="Otwórz")
  .interactive-item__tooltip(data-tooltip="3").js-interactive-tooltip
    .interactive-item__tooltipBox
      .interactive-item__tooltipContent
        |  Lorem ipsum 3 Lorem ipsum 3 Lorem ipsum 3 Lorem ipsum 3
